* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 769px) {
    h1 {
        text-align: center;
        font-size: 2.3rem;
    }
    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 3%;
    }
    .search-bar {
        width: 100%;
        height: 40px;
        font-size: 1.1rem;
        padding-left: 3%;
        border-radius: 10px;
        border: 0.5px solid black;
        margin: 0 3% 10px 3%;
    }
    .search-btn {
        height: 40px;
        border-radius: 10px;
        font-size: 1.1rem;
        border: 0.5px solid grey;
        width: 100%;
        margin: 10px 3% 0 3%;
    }
    .pokedex-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0 0
    }
    img {
        width: 250px;
        height: 250px;
    }
    .pokedex-info {
        margin: 0 20px;
    }
    .pokedex-paragraph {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 2.0rem;
        text-align: center;
    }
}

@media screen and (min-width: 770px) {
    /* LAYOUT STYLES */
    header {
        padding-bottom: 30px;
    }
    .search-container, .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-size: 3.0rem;
    }
    .pokedex-info-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 8%;
        background-color: rgb(252, 231, 231);
        border-radius: 10px;
        height: 350px;
    }
    .pkmn-image-container, .pokedex-info {
        padding: 10px 15px;
    }
    /* DISPLAY STYLES */
    .search-bar {
        width: 70%;
        height: 40px;
        font-size: 1.1rem;
        padding-left: 1%;
        border-radius: 10px;
        border: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .search-btn {
        height: 40px;
        border-radius: 10px;
        font-size: 1.3rem;
        border: 0.5px solid grey;
        margin: 0 0 0 10px;
        width: 100px;
    }
    .search-btn:hover {
        background-color: rgb(210, 210, 210);
    }
    img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }
}
