h1, p {
    text-align: center;
}
button {
    margin: 10px;
}
img {
    padding-top: 30px;
    width: 400px;
    height: 400px;
}
.btn-container, .pkmn-image-container {
    display: flex;
    justify-content: center;
}