* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 769px) {
    h1, p {
        text-align: center;
    }
    h2, .pokedex-paragraph {
        text-align: left;
        padding: 0 20px;
    }
    h2 {
        font-size: 2.0rem;
    }

    .btn-container, .pkmn-image-container, .pokedex-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn-container {
        width: 100%;
    }
    button {
        margin: 10px;
        width: 50%;
        height: 40px;
        font-size: 1.3rem;
        border-radius: 10px;
    }
    img {
        padding-top: 30px;
        max-width: 300px;
        max-height: 300px;
    }
    .pokedex-info {
        margin-top: 15px;
    }
    .pokedex-paragraph {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 770px) {
    /* LAYOUT STYLES */
    header {
        padding-bottom: 30px;
    }
    .search-container, .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-size: 3.0rem;
    }
    /* DISPLAY STYLES */
    .search-bar {
        width: 70%;
        height: 40px;
        font-size: 1.1rem;
        padding-left: 1%;
        border-radius: 10px;
        border: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .search-btn {
        height: 40px;
        border-radius: 10px;
        font-size: 1.3rem;
        border: 0.5px solid grey;
        margin: 0 0 0 10px;
        width: 100px;
    }
    .search-btn:hover {
        background-color: rgb(210, 210, 210);
    }
}
